
#pageWrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: max-content auto;
}

#pageContent {
    display: grid;
    grid-template-rows: 40% 60%;
    height: 100%;
}

#mainTextWrapperPlaceholder {
    background-color: gainsboro;
}

#mainTextWrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

#mainTextButton {
    width: 200px;
}

#navigationCardsContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.navCard {
    height: 80%;
    width: 22%;
}