
#pageWrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: max-content auto max-content;
}

#pageContent {
    display: grid;
    grid-template-rows: 40% 60%;
    height: 100%;
}

#mainTextWrapperPlaceholder {
    background-color: gainsboro;
}

#mainTextWrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

#mainTextButton {
    width: 200px;
}

#navigationCardsContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#navigationCardsContainer .navCard {
    height: min-content;
    min-width: min-content;
    max-width: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-grow: 1;
}

#footerText {
    margin-left: 2.5%;
}

.informationModal {
    height: 80%;
    width: 80%;
    margin: 0;
}

.informationModalText {
    overflow: hidden;
}

hr {
    width: 95%;
    align-self: center;
    margin: auto;
}
